name: Run Backend App
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run'
        required: false
        default: 'main5'

jobs:
  run-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: main5
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt
      
      - name: Run app.py
        run: |
          cd backend
          timeout 300 python app.py || true
